forum-controls {
    margin-top: 95px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
}

.post {
    display: flex;
    flex-direction: column;
}

.post-container {
    border: 3px solid yellow;
    margin: 0rem 1rem 1rem 1rem;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

    .post-container:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

.forum-content {
    display: flex;
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.justify-none {
    justify-content: normal;
}

.post-link,
.post-link:hover {
    display: block;
    text-decoration: none;
    color: inherit;
}

.error-message {
    text-align: center;
    color: red;
    font-weight: bold;
    background-color: yellow;
}

.addPostButtonContainer {
    text-align: right;
}

.addPostError {
    font-weight: bold;
    background-color: yellow;
    color: red;
}

.addPostModalMainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sheet-addPost {
    max-width: 350px;
}

.modalControls-addPost {
    padding: 1rem;
}

.modal-header-addPost {
    font-weight: bold;
    font-size: 1.4rem;
    padding: 1rem; 
}